<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="08fd2c8f-32bc-4dd4-9707-9e9787b3987f-Nivax-01" Version="1.0.0.0" Publisher="CN=Abu Bakar Sadeeq" />
  <Properties>
    <DisplayName>Task Todos</DisplayName>
    <PublisherDisplayName>Zoomerz</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Task Todos" Logo="images\logo.png" SmallLogo="images\SmallLogo.png" Description="Task Todos" ForegroundText="dark" BackgroundColor="#e7eff0">
        <DefaultTile ShowName="allLogos" WideLogo="images\widelogo.png" ShortName="Task Todos" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#e7eff0" />
      </VisualElements>
    </Application>
  </Applications>
</Package>